{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "quotes": "off",
    "no-unused-vars": "warn",
    "func-names": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off"
  }
}
